{% extends 'reserv_service/base.html'%}


{% block content %}

<div class="container mt-5">

    <hr class="featurette-divider">

    <div class="row featurette text-center">
        <div class="col-md-12">
            <h2 class="featurette-heading fw-normal lh-1">Наши контакты. <br> <span class="text-body-secondary">Вы можете связаться с нами следующими способами:</span>
            </h2>
            <p class="lead"></p>
            <ul>
                <li>Телефон: +7 (495) 123-45-67</li>
                <li>Email: info@restaurant.ru</li>
                <li>Адрес: ул. Пушкина, д. 123, стр. 2</li>
            </ul>
        </div>
    </div>

    <hr class="featurette-divider">
    <div class="col featurette text-center">

    <a class="btn btn-warning" href="{% url 'reserv_service:feedback' %}">Связаться с нами по email &raquo;</a>
    </div>
    <hr class="featurette-divider">
    <div class="col text-center">
    <a class="btn btn-secondary border-warning" href="{% url 'reserv_service:index' %}">Вернуться на главную &raquo;</a>
    </div>
    <hr class="featurette-divider">

</div>
{% endblock%}
