{% extends 'reserv_service/base.html'%}

{% block content %}

<br>
<br>
<br>

<div class="container mt-5">

    <hr class="featurette-divider">
    <div class="row text-center">
        <div class="row text-center">
            {% if page_obj.paginator.num_pages == 1 and page_obj|length == 0 %}
            <h2 class="mb-4">Список бронирований пуст</h2>
            {% else %}
            <h2 class="mb-4">Список бронирований</h2>
            {% for obj in page_obj %}
            <div class="col-4">
                <div class="card mb-4 box-shadow">
                    {% if user.is_authenticated or user.is_superuser %}
                    <div class="card-header">
                        <h6 class="my-0 font-weight-italic">Пользователь: {{ obj.user }}</h6>
                    </div>
                    {% endif %}
                    <div class="card-header">
                        <h4 class="my-0 font-weight-normal">{{ obj.table }}</h4>
                    </div>
                    <div class="card-body">
                        {% for time in obj.order_time.all %}
                        <p class="mt-3 mb-4 text-start m-3">Время бронирования: {{ time }}</p>
                        {% endfor %}
                        <div class="btn-group">
                            <a type="button" class="btn btn-secondary border-warning"
                               href="{% url 'reserv_service:order_detail' obj.pk %}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
            {% if user.is_authenticated %}
            <div class="col text-center">
                <a type="button" class="btn btn-secondary ms-2 border-warning mb-5"
                   href="{% url 'reserv_service:reservation_blank'%}">
                    Перейти на страницу бронирований
                </a>
            </div>
            {% endif %}

            <hr class="featurette-divider">


            {% if page_obj.paginator.num_pages > 1 %}
            <div id="pages" align="center">
                {% if page_obj.has_previous %}
                <a class='btn btn-secondary border-warning'
                   href="?page={{ page_obj.previous_page_number }}">Предыдущая</a>
                {% endif %}

                <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

                {% if page_obj.has_next %}
                <a class='btn btn-secondary border-warning' href="?page={{ page_obj.next_page_number }}">Следующая</a>
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>
    <hr class="featurette-divider">
</div>
{% endblock%}
