{% extends 'reserv_service/base.html' %}

{% block content %}
<div class="container mt-5">
    <form class="row" method="post" enctype="multipart/form-data">
        <div class="col-12">
            <div class="card text-center">
                <div class="card-header">
                    ALWAYS WELCOME
                </div>
                <div class="card-body">
                    <h5 class="card-title">Авторизация</h5>

                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-warning">
                        {% if object %}
                        Выйти

                        {% else %}
                        Войти
                        {% endif %}
                    </button>
                    <a class='btn btn-secondary border-warning' href="{% url 'users:restore_password' %}">Восстановить пароль</a>
                </div>
                <div class="card-footer text-body-secondary">
                    <a class='btn btn-secondary border-warning' href="{% url 'reserv_service:index' %}">Вернуться на главную страницу</a>
                </div>
            </div>
        </div>


    </form>
</div>
{% endblock %}
